.kelly-editor.lib-styling {
  li {
    list-style: none;
  }

  .scenarioManager {
    display: flex;
    .add-scenario {
      color: green;
    }

    .results {
      margin-left: 1em;
    }
  }

  button {
    margin-left: 1em;
  }

  .results {
    display: flex;

    button {
      margin-right: 1em;
    }
  }
}

.scenario-chooser-list.lib-styling {
  & > table {
    max-width: 12em;
  }
}

.scenario.lib-styling {
  display: flex;

  .percent-input {
    width: 5em;
    input {
      text-align: right;
      width: 5em;
      min-width: none;

      /* get rid of number arrows */
      /* Chrome, Safari, Edge, Opera */
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      &[type='number'] {
        -moz-appearance: textfield;
      }
    }

    .MuiInputAdornment-root.MuiInputAdornment-positionEnd {
      margin-left: 0em;
    }
  }

  .description {
    width: 20em;
  }

  .MuiFormControl-root {
    margin-right: 0.5em;
  }

  .delete-scenario {
    align-self: flex-end;
    svg {
      color: red;
      transform: rotate(45deg);
    }
  }
}
